<h3 class="definition-header">
    <span class="definition-header__type">{{context.type}}</span>
    <span class="definition-header__name">{{context.name}} </span>
    <span class="definition-header__access">{{access}}</span>
</h3>