<article class="defined-in">
    <header class="defined-in__header" role="group">
        <h4 class="defined-in__title">Defined in:</h4>
        <a class="defined-in__path" href="{{github file.path commentRange.start}}" target="_blank">{{file.path}}:{{commentRange.start}}</a>
    </header>
</article>
