<article class="defind-in">
    <header class="defind-in__header" role="group">
        <h4 class="defind-in__title">Defined in:</h4>
        <a class="defind-in__path" href="{{github file.path commentRange.start}}" target="_blank">{{file.path}}</a>
    </header>
</article>
