<header class="header row">
    <div class="header__logo col-xs-6">
        <span class="header__logo-name">{{package.name}}</span>
        <span class="header__logo-version">{{package.version}}</span>
    </div>

    <div class="header__menu col-xs-6">
    </div>
</header>