%section-title {
  color: $black;
  font-weight: 400;
}

%link-style {
  color: $igblue;
  font-size: rem(14);
  text-decoration: none;
}

%type {
  color: #fff;
  background: $purple;
  font-size: rem(12, 16);
  line-height: rem(24, 16);
  font-weight: 400;
  padding: rem(2, 16) rem(4, 16);
}

%type-mixin {
  background: $igblue;
  color: #fff;
}

%type-function {
  background: $yellow;
  color: #fff;
}

%list-style {
  list-style-type: none;
  list-style-position: inside;
  padding:0;
  margin: rem($top-gutter) 0 rem($bottom-gutter) 0;
}
