@include b(defined-in) {
  margin: rem($top-margin-negative) 0 rem($bottom-gutter) 0;

  @include e(header) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  @include e(title) {
    @extend %section-title;
    font-size: rem(14);
    margin-right: rem(4);
  }

  @include e(path) {
    @extend %link-style;
  }
}
