@include b(header) {
  height: rem($header-height);
  background: #222;
  padding: rem(15);

  @include m(sticky) {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  @include e(logo) {
      color: #fff;
  }

  @include e(logo-name) { }

  @include e(logo-version) { }

  @include e(menu) { }
}