@include b(main-section) {
  margin: rem($top-gutter) 0 rem($bottom-gutter) 0;

  @include e(title) {
    color: $black;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  @include e(article) {
    margin: rem($top-gutter) 0 rem($bottom-gutter) 0;
  }
}