@include b(nav-wrapper) {
  width: rem($navbar-width);
  min-width: rem($navbar-width);
  position: relative;
  top: rem(36);

  @include e(nav) {
    background: $nav-bg;
    width: rem($navbar-width);
    border-right: 1px solid $nav-border-color;
    position: fixed;
    height: calc(100% - #{rem($header-height)});
    overflow-x:hidden;
    overflow-y: auto;
  }
}
@include b(nav-group) {
  list-style: none;
  padding: 0;
  margin: rem(8) 0;

  @include e(header) {
    cursor: pointer;
    padding: rem(4) rem(8);

    &:hover {
      h1 {
        color: $igblue;
      }
    }

    h1 {
      color: $black;
      display: flex;
      align-items: center;
      user-select: none;
      font-size: rem(13px, 16px);
      font-weight: 500;
      text-transform: uppercase;
    }
    h1::before {
        color: $igblue;
        margin-right: rem(4);
        font-family: "Material Icons";
        content: '\e15b';
    }
  }
  @include e(header, $m: collapsed) {
    h1::before {
        color: $igblue;
        font-family: "Material Icons";
        margin-right: rem(4);
        content: '\e145';
    }
  }
}