@include b(search-form) {
    position: fixed;
    padding: rem(8);
    background: $nav-bg;
    border-right:1px solid $nav-border-color;
    border-bottom:1px solid $nav-border-color;
    width: rem($navbar-width);
    min-width: rem($navbar-width);
    height: rem(43);
    top: rem(126px);

    @include e(input) {
        width: 100%;
        padding: rem(4) rem(8);
        font-size: rem(14);
        border:1px solid $nav-border-color;

        &:focus,
        &:hover {
            border-color: $igblue;
            outline: none;
        }
    }

    @include e(results) {
        position: absolute;
        top: 24px;
        width: 100%;
        background: #fff;
        max-height: 300px;
        overflow-y: auto;
        opacity: .94;
        border: 1px solid #dedede;
    }

    @include e(results, $m: hidden) {
        display: none;
    }

    @include e(results-list) {
        list-style: none;
        padding: 0;
        margin: 8px 0;
    }

    @include e(results-list-item) {
        padding: 8px 16px;

        &:hover {
            background: #dedede;
        }
    }
}
